<br>
<div class="feed-show-contain" >
    <div class="comment-show" style="background-color:<%= notetype_color(@feed) %>">
        <%= @feed.context %>
        <div class="feed-timetamp" >
            <%= sc_u_date(@feed)%>
        </div>
    </div>
</div>
