<div class="add-comment-button">
    <button type="button" onclick="addComment('feed-comment-show-ctrl','feed-comment-show-ctrl-not')" class="btn <%= submit_notetype_btn_color(curr_feed) %> btn-lg">添加评论</button>
</div>
