// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment-show {
    background-color: rgb(200, 200, 200);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgba(0, 0, 0, 0.15);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.15);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.15);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: block;
    floatleftfont-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 11px;
    // line-height: 20px;
    line-height: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
    overflow-wrap: break-word;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 1px;
    padding-top: 10px;
    white-space: pre-wrap;
    width: 300px;
    // float: left;
}

.comment-timetamp {
    // position: relative;
    right: 0px;
    bottom: 0px;
    font-size: 10px;
    text-align:right;
    margin-bottom: -43px;
    // padding-left: 110px;
}

.comment-btn {
    position: absolute;
    right: 10px;
    // bottom: 0px;
}

.add-comment-button {
    line-height:60px;
    font-size: 21px;
    background-color: rgba(200, 200, 200, 0);
    height: 60px;
    width: 60px;
    margin:10px;
    position: fixed;
    right: 5px;
    top: 150px;
}
